/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-color: #161b33;*/
  background: hsla(190, 79%, 59%, 1);
  background: linear-gradient(135deg, hsla(190, 79%, 59%, 1) 0%, hsla(226, 50%, 65%, 1) 100%);
  background: -moz-linear-gradient(135deg, hsla(190, 79%, 59%, 1) 0%, hsla(226, 50%, 65%, 1) 100%);
  background: -webkit-linear-gradient(135deg, hsla(190, 79%, 59%, 1) 0%, hsla(226, 50%, 65%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#45CDE9", endColorstr="#7A8FD3", GradientType=1 );
}
.header {
  height: 10vh;
  border-bottom: 2px solid #575757;
}
.footer {
  height: 10vh;
  width: 45vh;
  left: 27.5vw;
  @media screen and (orientation:landscape) {
    width: 15.5vw;
    left: 41.25vw;
  }
  display:flex;
  justify-content: space-around;
  border-radius: 5vh;
  border: 2px solid #575757;
  background: #111111;
  position: fixed;
  bottom: 5vh;
  z-index: 2;
}
.content {
  height: 80%;
  overflow: auto;
}

.name {
  color: white;
  font-size: 5vh;
  font-weight: bold;
  float: center;
  display: inline-block;
}
.user-icon {
  font-size: 9vh;
  float: right;
}
.icon {
  color: white;
  text-decoration: none;
  font-size: 5vh;
  margin-top: 2vh;
}
.icon-active {
  color: #00CCFF;
}
.container{
  width: 95vw;
  height: 95vh;
  border-radius: 15px;
  @media screen and (orientation:landscape) {
    width: 40vw;
    height: 95vh;
  }
  background-color: #000000;
}

.drag-area {
  height: 35%;
  border: 3px dashed #575757;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}
.drag-area .icon {
  font-size: 50px;
  color: #1683ff;
}
.drag-area .hd {
  font-size: 20px;
  font-weight: 500;
 color: #B3C9E1;
}
.drag-area .support {
  font-size: 12px;
  color: gray;
  margin: 10px 0 15px 0;
}
.drag-area .button {
  font-size: 20px;
  font-weight: 500;
  color: #1683ff;
  cursor: pointer;
}
.drag-area .active {
  border: 2px solid #1683ff;
}
.preview {
  max-width: 100%;
  max-height: 100%;
}
.preview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.tag-edit {
  border: 2px solid #575757;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
.tag-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tag {
  margin: 5px;
  padding: 5px 5px;
  background-color: #575757;
  border: none;
  color: white;
  border-radius: 50cqh;
  width: min-content;
  text-align: center;
  curser: pointer;
}

.tag_input {
  background: none;
  border: none;
  color: white;
  padding: 2px;
  border-radius: 5px;
}
.tag_input:focus {
  outline: none;
  border: 2px solid #00ccff;
}

.justify {
  display: flex;
  justify-content: center;
  position: relative;
  float: both;
}
input[type="submit"] {
  background-color: transparent;
  color: #FFFFFF;
  border-color: #FFFFFF;
  padding: 10px 20px;
  outline: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
input[type="submit"]:hover {
  color: #00CCFF;
  border-color: #00CCFF;
  background-color: transparent;
}
input[type="submit"]:active {
  color: #FFFFFF;
  border-color: #00CCFF;
  background-color: #00CCFF;
}
