<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/home.css') }}">
  <script src="https://unpkg.com/@phosphor-icons/web"></script>
  <script src="{{ url_for('static', filename='scripts/home.js') }}"></script>
  <title>PictureNet</title>
</head>
<body>
  <div class="container">
    <div class="content" id="content">
      <center><p class="name">PictureNet</p></center>
      <div class="footer">
        <a class="icon icon-active" href="{{ url_for('home') }}"><i class="ph-bold ph-house"></i></a>
        <a class="icon" href="{{ url_for('upload') }}"><i class="ph-bold ph-plus"></i></a>
    </div>
  </div>
</body>
</html>
