<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/login.css') }}">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/@phosphor-icons/web@2.0.3/src/bold/style.css" />
</head>
<body>
  <div class="container">
    <form action="" method="post">
      <center>
      <h1 class="header">Login</h1>
      <br>
      {% if error == "1" %}
      <h4 class="error">Error: username already taken!</h4>
      {% elif error == "2" %}
      <h4 class="error">Error: your username has to be between 3 and 10 characters long!</h4>
      {% else %}
      <h4 class="header">Please choose a username</h4>
      {% endif %}
      </center>
      <div class="input-field">
        <input type="text" required spellcheck="false"> 
        <label>user</label>
      </div>
      <div class="justify">
        <input type="submit" value="Login"/>
      </div>
    </form>
  </div>
</body>
</html>
