<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/upload.css') }}">
  <script src="https://unpkg.com/@phosphor-icons/web"></script>
  <script src="{{ url_for('static', filename='stylesheets/upload.js') }}"></script>
</head>
<body>
  <div class="container">
    <div class="header">
  	<center>
        <p class="name">PictureNet</p>
        <a class="icon" href="https://google.de"><i class="ph-bold ph-user-circle user-icon"></i></a>
      </center>
    </div>
    
    <div class="content" id="content">
    	
        <div class="drag-area">
            <div class="icon hide">
                <i class="ph-fill ph-images"></i>
            </div>
            <span class="hd hide">Drag & Drop</span>
            <span class="hd hide">or <span class="button">browse</span></span>
            <div id="preview" class="preview"></div>
            <form id="form" method="post" action="" enctype = "multipart/form-data">
                <input type="file" accept="image/png, image/jpg, image/jpeg" name="uploadedIMG" hidden />
            </form>
            <span class="support hide">Supports: JPEG, JPG, PNG</span>
        </div>
        <br>
        <div class="tag-edit" id="tag-edit" onclick="focus_tag()">
        	<div class="tag-area" id="tag-area">
            </div>
            <input type="text" class="tag_input" id="tag_input" placeholder="add tags" onkeypress="add_tag(this)"></input>
        </div>
        
      
      <div class="justify">
        <input type="submit" value="publish" id="publish"/>
      </div>
      
    </div>
    
    <div class="footer">
        <a class="icon" href="https://google.de"><i class="ph-bold ph-house"></i></a>
        <a class="icon" href="https://google.de"><i class="ph-bold ph-users"></i></a>
        <a class="icon" href="https://google.de"><i class="ph-bold ph-magnifying-glass"></i></a>
        <a class="icon icon-active" href="https://google.de"><i class="ph-bold ph-plus"></i></a>
    </div>
  </div>
</body>
</html>
